// $blue : #188ae2;
$basefont : 'Lato', Arial, sans-serif;

$theemColorRed : #d33e3e;
$theemColorRedHover : #bb0b0b;
// $theemColorBlue : #d21f80;
// $theemColorBlue : #1f31d2;
$theemColorBlue : #3c8dbc;
$theemColorBlueHover : #a80c60;
// $theemColorBlueHover : #040f72;
$theemColorBlueHover : #0e6aa0;
$borderColor: #dcdcdc;
$whiteColor: #fff;
$blackColor: #000;
$inputColor : #495057;