/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=realway:300,400,500,700");
@import "./assets/variable";
@import "./assets/mixing";

/* reset css */
/*********************Reset css start here************************/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ul,
li,
button,
fieldset,
form,
label,
legend,
blockquote,
figure {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
}

img {
	border: none;
	max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	text-decoration: none;
	cursor: pointer;
	//@include css3-transition(transition, all .5s cubic-bezier(0.49, 0.38, 0.23, 0.96) 0s);
	&:focus {
		outline: 0;
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.borderBox {
	border: 1px solid $borderColor;
	// box-shadow: 0 0 3px rgba(0,0,0,0.1);
	.contentBox {
		padding: 23px 23px 15px;
		background: $whiteColor;
	}
	.outerHeadingBlock {
		background: #f7faff;
	}
	.headingBlock {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 15px 23px;
		border-bottom: 1px solid $borderColor;
		margin-bottom: -1px;
		h3 {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 0 !important;
			font-weight: 400;
			padding-right: 10px;
			color: $blackColor;
		}
		.arrow {
			width: 10px;
			height: 10px;
			border-right: 2px solid $blackColor;
			border-bottom: 2px solid $blackColor;
			transform: rotate(45deg);
			transition: all 0.3s ease;
			&.upArrow {
				transform: rotate(-135deg);
			}
		}
		a {
			position: absolute;
			width: 100%;
			height: 100%;
			display: inline-block;
			top: 0;
			left: 0;
			z-index: 1;
			&:focus,
			&:hover {
				border: 1px solid #a2a2a2;
			}
		}
	}

	.headingH4 {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 0 !important;
		font-weight: 400;
		padding-right: 10px;
		color: $blackColor;
	}

	.innerHeadingBlock {
		background: #f1f1f1;
		padding: 10px 23px;
		display: flex;
		width: 100%;
	}
}

/*common css*/
.commonLabel {
	font-size: 13px;
	line-height: 20px;
	color: $blackColor;
	font-weight: 400;
	padding: 0 0 5px;
	display: inline-block;
}

.commonInput {
	font-size: 13px;
	line-height: 20px;
	height: 38px;
	border: 1px solid $borderColor;
	padding: 5px 15px;
	color: $inputColor;
	font-weight: 400;
	border-radius: 0;
	&:hover,
	&focus {
		border-color: $theemColorBlue !important;
		box-shadow: none !important;
	}
	@include placeholder() {
		color: $inputColor;
		opacity: 0.5;
	}
}
.showPass {
	position: relative;
	.commonInput {
		padding-right: 40px;
	}
	.eyeIcon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 1;
		i {
			display: inline-block;
			vertical-align: middle;
			font-size: 21px;
			color: $inputColor;
		}
	}
}

.commonBtn {
	display: inline-block;
	padding: 5px 20px;
	font-size: 16px;
	line-height: 30px;
	color: #212121;
	text-align: center;
	cursor: pointer;
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
}

/*common checkbox*/
.customCheckBox {
	font-size: 14px;
	line-height: 22px;
	color: #212121;
	font-weight: 400;
	position: relative;
	@include transition(all 0.2s ease);

	display: inline-block;
	&:hover {
		color: #209bd1;
	}
	.checkboxStyle {
		position: relative;
		margin-right: 10px;
		width: 15px;
		height: 15px;
		border: 1px solid #b7b7b7;
		display: inline-block;
		top: 2px;
		&:after {
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform(translate(-50%, -50%));
			content: "\f00c";
			font-family: FontAwesome;
			display: none;
			color: #fff;
			font-size: 10px;
		}
	}
	input {
		width: 100%;
		height: 100%;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		&:checked + span {
			background: #209bd1;
			border: 1px solid #209bd1;
			&:after {
				display: inline-block;
				color: #fff;
			}
		}
		&:focus + span {
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
	}
}

.customCheckBoxStyle {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	input {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		left: 0;
		top: 0;
		cursor: pointer;
		z-index: 2;
	}
	input[type="checkbox"]:checked {
		& + span {
			border-color: $theemColorBlue;
			background: $theemColorBlue;
			&:after {
				display: inline-block;
				border-left-color: $whiteColor;
				border-bottom-color: $whiteColor;
			}
		}
	}
	input[type="checkbox"]:focus {
		& + span {
			border-color: $theemColorBlue;
		}
	}
	span {
		width: 17px;
		height: 17px;
		border: 1px solid $borderColor;
		position: relative;
		display: inline-block;
		vertical-align: top;
		&:after {
			display: none;
			width: 9px;
			height: 5px;
			border-left: 2px solid $blackColor;
			border-bottom: 2px solid $blackColor;
			transition: all 0.3s ease;
			content: "";
			left: 3px;
			top: 4px;
			transform: rotate(-65deg);
			position: absolute;
		}
	}
}

.redCheckBox {
	display: flex;
	width: 100%;
	.customCheckBoxStyle {
		margin-right: 10px;
		input[type="checkbox"]:checked {
			& + span {
				border-color: $theemColorRed;
				background: $theemColorRed;
				&:after {
					display: inline-block;
					border-left-color: $whiteColor;
					border-bottom-color: $whiteColor;
				}
			}
		}
		input[type="checkbox"]:focus {
			& + span {
				border-color: $theemColorRed;
			}
		}
		span {
			border-radius: 0;
		}
	}
}

.commonTransparentBlueBtn {
	display: inline-block;
	padding: 0 20px;
	line-height: 34px;
	font-size: 14px;
	color: $theemColorBlue;
	border: 1px solid $theemColorBlue;
	background: $whiteColor;
	transition: all 0.5s ease;
	&:hover {
		background: $theemColorBlueHover;
		border-color: $theemColorBlueHover;
		color: $whiteColor;
	}
	&:focus {
		background: $theemColorBlueHover;
		border-color: $theemColorBlueHover;
		color: $whiteColor;
		outline: none;
	}
}

.commonTransparentRedBtn {
	display: inline-block;
	padding: 0 20px;
	line-height: 34px;
	font-size: 14px;
	color: $theemColorRed;
	border: 1px solid $theemColorRed;
	background: $whiteColor;
	transition: all 0.5s ease;
	&:hover {
		background: $theemColorRedHover;
		border-color: $theemColorRedHover;
		color: $whiteColor;
	}
	&:focus {
		background: $theemColorRedHover;
		border-color: $theemColorRedHover;
		color: $whiteColor;
		outline: none;
	}
}

.commonBlueBtn {
	display: inline-block;
	padding: 0 20px;
	line-height: 34px;
	font-size: 14px;
	color: $whiteColor;
	border: 1px solid $theemColorBlue;
	background: $theemColorBlue;
	transition: all 0.5s ease;
	&:hover {
		background: $theemColorBlueHover;
		border-color: $theemColorBlueHover;
	}
	&:focus {
		background: $theemColorBlueHover;
		border-color: $theemColorBlueHover;
		outline: none;
	}
}
.commonRedBtn {
	display: inline-block;
	padding: 0 20px;
	line-height: 34px;
	font-size: 14px;
	color: $whiteColor;
	border: 1px solid $theemColorRed;
	background: $theemColorRed;
	transition: all 0.5s ease;
	&:hover {
		background: $theemColorRedHover;
		border-color: $theemColorRedHover;
	}
	&:focus {
		background: $theemColorRedHover;
		border-color: $theemColorRedHover;
		outline: none;
	}
}

button[disabled] {
	opacity: 0.7;
}

.customSelect {
	position: relative;
	.commonInput {
		appearance: none;
		padding-right: 40px;
		&:hover,
		&:focus {
			border-color: $theemColorBlue !important;
			box-shadow: none !important;
			& + .selectArrow {
				border-color: $theemColorBlue;
			}
		}
	}
	.selectArrow {
		position: absolute;
		right: 0;
		top: 0;
		width: 25px;
		height: 100%;
		border: 1px solid $borderColor;
		z-index: 1;
		background: #ebebeb;
		pointer-events: none;
		transition: all 0.15s ease-in-out;
		&:after {
			display: inline-block;
			width: 1px;
			height: 1px;
			content: "";
			border-top: 4px solid #929292;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.btnSpiner {
	margin-right: 5px;
}

.tooltipIcon {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.4);
	padding-bottom: 2px;
	i {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}
	&:after {
		position: absolute;
		padding: 5px 10px;
		visibility: hidden;
		left: 50%;
		bottom: 30px;
		background: rgba(0, 0, 0, 1);
		color: #fff;
		content: attr(tool);
		transform: translateX(-50%);
		font-size: 12px;
		@include border-radius(5px);
		width: var(--width);
		line-height: 18px;
		transition: all 0.1s ease;
		opacity: 0;
		display: none;
		z-index: 99;
	}
	&:before {
		visibility: hidden;
		width: 10px;
		height: 10px;
		border-left: 10px solid transparent;
		border-top: 10px solid rgba(0, 0, 0, 1);
		border-right: 10px solid transparent;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		content: "";
		transition: all 0.1s ease;
		opacity: 0;
		display: none;
	}
	&:hover {
		&:after {
			visibility: visible;
			bottom: 34px;
			opacity: 1;
			display: inline-block;
			@include breakpoint(md) {
				transform: translateX(-60%);
			}
		}
		&:before {
			visibility: visible;
			bottom: 24px;
			opacity: 1;
			display: inline-block;
		}
	}
}

/* common select */
.commonSelect {
	display: inline-block;
	position: relative;
	select {
		display: inline-block;
		min-width: 150px;
		font-size: 15px;
		font-weight: 400;
		color: #151515;
		height: 40px;
		padding-right: 30px;
		border: 1px solid #ced4da;
		@include appearance(none);
		@include border-radius(5px);
		option {
			padding: 3px 0;
		}
	}
	span {
		position: absolute;
		right: 0;
		top: 0;
		width: 25px;
		height: 100%;
		@include flexbox();
		align-items: center;
		justify-content: center;
		color: #c4c4c4;
		background: #ebebeb;
		border: 1px solid #ced4da;
		@include border-radius(0 5px 5px 0);
		pointer-events: none;
		i {
			font-size: 20px;
		}
	}
}

html {
	height: 100%;
}

body {
	width: 100%;
	font: normal 15px/1.4 "raleway", "Arial", sans-serif;
	// font-family: 'Montserrat', sans-serif;
	background: #f5f5f5;
	&.overflowHidden {
		overflow: hidden;
		padding-right: 15px;
	}
}

.outerLayout {
	// loat: left;
	width: 100%;
	height: 100vh;
	display: flex;
	/* background: #f0f6ff; */
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.innderPaddContainer {
	padding: 0 20px;
	@include breakpoint(sm) {
		padding: 0;
	}
}
/* login form css */
.loginContainer {
	width: 96%;
	max-width: 480px;
	margin: auto;
	padding: 15px 0;
	&.contactUsContainer {
		max-width: 900px;
	}
	.logo {
		margin: 0 0 25px;
		text-align: center;
		a {
			display: inline-block;
		}
		img {
			max-width: 150px;
		}
	}
}

.loginForm {
	padding: 30px 40px 20px;
	background: #fff;
	@include box-shadow(0 -3px 31px 0 rgba(0, 0, 0, 0.05));
	border: 1px solid #dee2e6;
	@include border-radius(8px);
	display: table;
	width: 100%;
	.formHeading {
		text-align: center;
		padding-bottom: 15px;
		h3 {
			font-size: 22px;
			line-height: 35px;
			color: #212121;
			font-weight: 400;
		}
		p {
			font-size: 15px;
			line-height: 26px;
			color: #212121;
			font-weight: 300;
		}
		a {
			font-size: 15px;
			line-height: 26px;
		}
	}
	.rememberMe {
		font-size: 14px;
		line-height: 22px;
		color: #212121;
		font-weight: 400;
		position: relative;
		@include transition(all 0.2s ease);
		margin: 0 0 10px;
		display: inline-block;
		&:hover {
			color: #209bd1;
		}
		.checkboxStyle {
			position: relative;
			margin-right: 10px;
			width: 15px;
			height: 15px;
			border: 1px solid #b7b7b7;
			display: inline-block;
			margin-bottom: 2px;
			&:after {
				position: absolute;
				left: 50%;
				top: 50%;
				@include transform(translate(-50%, -50%));
				content: "\f00c";
				font-family: FontAwesome;
				display: none;
				color: #fff;
				font-size: 11px;
			}
		}
		span {
			display: inline-block;
			vertical-align: middle;
		}
		input {
			width: 100%;
			height: 100%;
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			cursor: pointer;
			opacity: 0;
			z-index: 2;
			&:checked + span {
				background: #209bd1;
				border: 1px solid #209bd1;
				&:after {
					display: inline-block;
					color: #fff;
				}
			}
		}
	}
	.forgotPass {
		float: right;
		font-size: 15px;
		line-height: 22px;
		color: #212121;
		font-weight: 400;
		@include transition(all 0.2s ease);
		margin: 0 0 10px;
		&:hover {
			color: #209bd1;
		}
	}
	.loginBtn {
		width: 100%;
		text-align: center;
		// @include linearGradient(#3ab2ff, #1f8aff);
		// color: #fff;
		// border-color: #3ab2ff;
	}
}
button[disabled] {
	opacity: 0.7;
	cursor: not-allowed;
}

.uploadedImagePreview {
	display: inline-block;
	max-width: 100%;
	background: #ddd;
	img {
		display: inline-block;
		max-width: 150px;
		max-height: 150px;
	}
}

.loginFooter {
	padding: 35px 0 40px;
	text-align: center;
	ul {
		li {
			display: inline-block;
			padding: 0 20px;
			position: relative;
			a {
				color: #212121;
				display: inline-block;
				font-size: 14px;
				&:hover {
					color: #209bd1;
				}
			}
			&:after {
				display: inline-block;
				content: "";
				width: 2px;
				height: 16px;
				background: #77797d;
				right: -1px;
				top: 50%;
				position: absolute;
				@include transform(translateY(-50%));
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
}

.customTable {
	display: flex;
	width: 100%;
	flex-wrap: wrap;

	table {
		width: 100%;
		border: 1px solid $borderColor;
		border-collapse: collapse;

		thead {
			background: #f8f9fc;
			tr {
				th , td {
				vertical-align: top;
				padding: 8px 25px 8px 15px;
			}
			}
		}
		tr {
			border-bottom: 1px solid $borderColor;
			th {
				padding: 8px 15px;
				font-size: 14px;
				line-height: 20px;
				color: $blackColor;
				font-weight: 500;
			}
			td {
				padding: 8px 15px;
				font-size: 13px;
				line-height: 20px;
				color: $blackColor;
				font-weight: 300;
				vertical-align: middle;
				figure {
					width: 80px;
					height: 50px;
					img {
						max-width: 100%;
						max-height: 100%;
						cursor: pointer;
					}
				}
				input {
					padding: 0 5px;
					background: #f4f4f4;
					height: 25px;
					font-size: 12px;
					border: 1px solid $borderColor;
				}
				a {
					color: #cccccc;
					margin: 0 3px;
					display: inline-block;
					font-weight: 400;
					vertical-align: middle;
					i {
						font-size: 16px;
					}
					&:hover,
					&.active {
						color: $theemColorBlue;
					}
					&.theemColor {
						color: $theemColorBlue;
					}
				}
			}
		}
		tbody {
			tr {
				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
	&.lastCenter {
		table {
			tr {
				td,
				th {
					&:last-child {
						text-align: center;
						width: 120px;
					}
				}
			}
		}
	}
	.paggingList {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0 0;
		& > span {
			font-size: 13px;
			line-height: 20px;
			font-weight: 450;
			color: $blackColor;
			// padding-left: 15px;
		}
		ul {
			border: 1px solid $borderColor;
			margin-bottom: 0;
			li {
				display: inline-block;
				border-left: 1px solid $borderColor;
				margin-right: 0;
				&.small-screen {
					display: none;
				}
				&.current {
					padding: 0;
					background: $theemColorBlue;
					span {
						height: 25px;
						padding: 0 11px;
						color: $whiteColor;
					}
				}
				&.pagination-previous {
					padding: 0;
					&:before {
						display: none !important;
					}
					span {
						height: 25px;
						padding: 0 11px;
					}
					a {
						padding: 0 11px;
						span {
							padding: 0;
						}
						&:before {
							display: none !important;
						}
					}
				}
				&.pagination-next {
					padding: 0;
					&:after {
						display: none !important;
					}
					span {
						height: 25px;
						padding: 0 11px;
					}
					a {
						padding: 0 11px;
						span {
							padding: 0;
						}
						&:after {
							display: none !important;
						}
					}
				}
				a {
					display: inline-block;
					font-size: 13px;
					color: $blackColor;
					padding: 0 11px;
					line-height: 25px;
					height: 25px;
				}
				&:hover,
				&.active {
					a {
						background: $theemColorBlue;
						color: $whiteColor;
						span {
							color: $whiteColor;
						}
					}
				}
				span {
					display: inline-block;
					font-size: 13px;
					color: $blackColor;
					line-height: 25px;
					height: 25px;
				}
				.show-for-sr {
					display: none;
				}
				&:first-child {
					border-left: 0;
				}
			}
		}
	}
}

.fullWidth {
	width: 100%;
	display: flex;
	justify-content: center;
}

.brouseFileBtn {
	display: flex;
	width: 100%;
	position: relative;
	input[type="file"] {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		opacity: 0;
		cursor: pointer;
	}
	span {
		padding-right: 100px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		line-height: 25px;
	}
	button {
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0 10px;
		z-index: 1;
		font-size: 13px;
	}
}

.multiSelect {
	position: relative;
	width: 100%;
	.commonInput {
		appearance: none;
		padding-right: 35px;
		&:hover,
		&:focus {
			border-color: $theemColorBlue !important;
			box-shadow: none !important;
			& + .selectArrow {
				border-color: $theemColorBlue;
			}
		}
	}
	.selectArrow {
		position: absolute;
		right: 0;
		top: 0;
		width: 25px;
		height: 36px;
		border: 1px solid $borderColor;
		z-index: 1;
		background: #ebebeb;
		pointer-events: none;
		transition: all 0.15s ease-in-out;
		&:after {
			display: inline-block;
			width: 1px;
			height: 1px;
			content: "";
			border-top: 4px solid #929292;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	ul {
		position: absolute;
		left: 0;
		top: 40px;
		width: 100%;
		background: $whiteColor;
		border: 1px solid $borderColor;
		max-height: 100px;
		overflow: auto;
		z-index: 9;
		li {
			display: inline-block;
			width: 100%;
			cursor: pointer;
			position: relative;
			padding: 0 10px;
			span {
				font-size: 13px;
				line-height: 20px;
				padding: 5px 0 5px 27px;
				color: #000;
				font-weight: 400;
				position: relative;
				display: inline-block;
				&:after {
					display: inline-block;
					position: absolute;
					width: 17px;
					height: 17px;
					border: 1px solid $borderColor;
					left: 0;
					top: 6px;
					content: "";
				}
				&:before {
					display: none;
					width: 9px;
					height: 5px;
					border-left: 2px solid $blackColor;
					border-bottom: 2px solid $blackColor;
					transition: all 0.3s ease;
					content: "";
					left: 4px;
					top: 11px;
					transform: rotate(-65deg);
					position: absolute;
					z-index: 8;
				}
			}
			input[type="checkbox"] {
				position: absolute;
				width: 100%;
				z-index: 99;
				left: 0;
				height: 100%;
				cursor: pointer;
				opacity: 0;
				&:checked {
					& + span {
						&:after {
							border-color: $theemColorBlue;
							background: $theemColorBlue;
						}
						&:before {
							border-color: $whiteColor;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}

.disable-inputs {
	pointer-events: none;
}

.viewPage {
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	padding: 10px 0;
	margin: 0;
	strong {
		display: inline-block;
		width: 50%;
		font-weight: 500;
	}
	span {
		display: inline-block;
		width: 50%;
		font-weight: 400;
		small {
			font-size: 100%;
		}
	}
}

.short-arrow {
	position: relative;
	padding-right: 5px;
	position: relative;
	a {
		position: absolute;
		right: -14px;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
		width: 10px;
		height: 32px;
		// vertical-align: middle;
		// margin-top: -6px;
		// margin-left: 5px;
		.arrow-up {
			display: inline-block;
			width: 0;
			height: 0;
			border-bottom: 5px solid #000;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			&.active {
				border-bottom-color: $theemColorBlue;
			}
		}
		.arrow-down {
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 5px solid #000;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			vertical-align: top;
			&.active {
				border-top-color: $theemColorBlue;
			}
		}
	}
}

.searchSection {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-bottom: 15px;
	.restaurantList {
		margin-right: auto;
	}
}

.form-field-info {
	padding: 10px 10px 10px 20px !important;
	margin: 10px auto 0;
	// padding: 20px 20px 20px 40px !important;
	// margin: 10px auto;
	ul {
		margin: initial;
		padding: initial;
		li {
			list-style: disc;
			font-size: 16px;
			display: flex;
		}
	}
}

.pointer {
	cursor: pointer;
}
